header.pag_reserve {
    background-image: url(../img/reserve.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-color: #000;
    height: 100vh;
}

#reserve {
    position: relative;
    bottom: 15px;
    
    h1 {
        margin: 0 0 20px 15%;
        text-align: center;
        color: #fff;
        border-bottom: 2px solid $color-3;
        width: 260px;
        padding-bottom: 10px;
    }
    input, textarea {
        width: 40%;
        padding: 15px;
        margin: 0 0 0.3% 5%;
        border: none;
        border-radius: 5px;
    }
    .send {
        background-color: $color-3;
        color: #fff;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
        transition: 200ms;
    }
}

/**/ 

#modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;

    .content {
        width: 500px;
        height: 350px;
        background-color: #fff;
        text-align: center;
        position: relative;
        padding: 50px;

        .close {
            position: absolute;
            top: 0;
            right: 10px;
            font-weight: 900;
            font-size: 30px;
            transform: rotate(45deg);
            cursor: pointer;
            color: $color-3;
        }
        .select {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .inputs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            input[type=radio] {
                width: 100px;
                height: 40px;
                margin: 10px 10px 0;

                &::after {
                    width: 100px;
                    height: 40px;
                    box-sizing: border-box;
                    background-color: #fff;
                    border: 2px solid $color-4;
                    border-radius: 10px;
                    content: attr(value);
                    display: block;
                    text-align: center;
                    line-height: 36px;
                    color: $color-4;
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                    transition: .3s;
                }
                &:hover::after, &:checked::after {
                    background-color: $color-2;
                    color: #fff;
                    border: 2px solid #000;
                }
            }
            button {
                background-color: $color-2;
                width: 90%;
                margin-top: 40px;
            }
            .confirm {
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 25px;
                padding: 60px;
                line-height: 40px;

                input {
                    padding: 10px;
                    width: 90%;
                    margin-top: 10px;
                    background-color: #f7f7f7;
                    border-radius: 5px;
                    font-size: 20px;
                }
            }
        }
    }
}

/**/
#contact {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;

    .one, .two {
        background-color: rgb(249, 249, 249);
        padding: 20px;
        align-self: center;
    }
    .two {
        padding: 29px;
    }
    i {
        color: $color-3;
        margin-right: 10px;
    }
}

@media (max-width: 800px) {
    header.pag_reserve {
        height: 100%;
    }

    #header_top {
        img {
            width: 100px;
        }
        li:first-child {
            width: 50px;
            margin-right: 50px;
        }
        a {
            margin: 0;
            padding: 0;
        }
    }
    
    #reserve {
        padding-bottom: 50px;

        h1 {
            margin-left: 25%;
        }
        input, textarea {
            margin-top: 2px;
            width: 90%;
        }

    }

    #contact {
        flex-direction: column;

        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }
        .one, .two {
            width: 80%;
            height: 95px;
            margin-top: 5px;
            text-align: center;
            font-size: 20px;
        }
    }
}